<div class="center hero-unit">
  <h1>Welcome to MealPlanner</h1>

  <h2>
    This is the home page for
    <a href="http://mealsdo.herokuapp.com/">MealPlanner</a>
    application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
